body {
    padding: 40px 10px;
    background-color: #eee;
}

.listing-reg h1 {
    text-align: center;
    margin: 0 0 2rem;
}

/* css for registration form and list */
.form-registration {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-registration {
    display: flex;
    flex-wrap: wrap;
}

.form-registration input {
    width: 100%;
    margin: 0px 0 10px;
}